* {
	box-sizing: border-box;
}

body {
	background-color: #6E7B8B
}

.container {
	width: 80%;
	background-color: #fff;
	margin: 20px auto;
	box-shadow: 0px 0px 5px 5px #000;
	font-family: 'Rubik', sans-serif;

}

.header {
	height: 200px;
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	font-style: italic;
	position: relative;

}

.header h1 {
	font-size: 3em;
	font-weight: 700
}

.header h2 {
	font-size: 2.25em;
}

.line-left {
	width: 51%;
	height: 20px;
	position: absolute;
	top: 35px;
	left: 0;
	background-color: #ffa500;

}
.line-left:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 20px solid #fff; 
	border-left: 25px solid transparent;
	right: 0;
	top: 0;
	bottom: 0;
}

.line-right {
	width: 51%;
	height: 20px;
	position: absolute;
	bottom: 35px;
	right: 0;
	background-color: #276983;

}
.line-right:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid #fff; 
	border-right: 25px solid transparent;
	left: 0;
	top: 0;
	bottom: 0;
}
.cv-content {
	display: flex;
	background-color: #fff;
	/*height: 900px;*/

}
 .cv-content h3 {
	font-size: 2em;
	margin: 20px 0;

}

 .cv-content h3::before {
	content: '';
	display: block;
	height: 3px;
	width: 100%;
	background-color: #ffa500;
	position: relative;
	top: 40px;
}

.sidebar {
	width: 40%;
	/*height: 943px;*/
	/*border-right: 1px solid #000;*/
	background-color: #276983;
	color:#fff;
}

.contacts {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.contacts ul {
	width: 90%;
}

.contacts li {
	margin: 5px;
	font-size: 1.3em;
}

.contacts a {
	vertical-align: top;
	margin-left: 5px;
	color: #fff;
	text-decoration: none;

}

.contacts i {
	font-size: 1em;
}

.discord {
	width: 5%;
}

.photo {
	width: 75%;
	height: 75%;
	border-radius: 50%;
	margin: 20px 0;
	box-shadow: 0 0 5px 3px #fff
}


.education {
	padding: 20px;
}

.education h4{
	font-weight: bold;
}

.edu-text {
	text-align: justify;
	margin: 10px 0;
}
.education span {
	font-weight: bold;
}

.list-course {
	list-style-type: disc;
	margin-left: 20px;
}

.list-course li {
	margin: 5px 0;
}

.main-content {
	width: 59%;
	text-align: justify;
	padding: 30px;
	border-left: 1px solid #000;
	background-color: #fff;
}

.skills-img {
	margin: 10px;
	display: flex;
	justify-content: space-between;
}

.skills img {
	/*width: 30px;*/
	height: 40px;

}

.skills li{
	margin: 5px;
}

.code-example pre{
	background-color: #ededed;
	white-space: pre-wrap;

}

.code-function {
	color:#17eff2;
}
.code-func-name {
	color:#1bff35;
}
.code-operator {
	color:#ff005a;
}
.code-argument {
	color:#fd8001;
}

.footer {
	height: 100px;
	background-color: #243447;
	display: flex;
	justify-content: space-between;
}

.footer-center, .footer-left {
	width:33%;
}

.footer-center {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rss-logo {
	width: 200px;
}

.github-logo {
	width: 70px;

}

.footer time {
	margin: auto;
	color:#fff;
}


@media screen and (max-width: 970px) {
	.container {
		width: 90%;
	}

	.contacts li {
		font-size: 1em;
	}
}


@media screen and (max-width: 767px) {
	.cv-content {
		flex-direction: column;
	}
	.sidebar, .main-content {
		width: 100%;
	}

	.contacts li {
		font-size: 1.25em;
	}

	.contacts ul {
		width: 50%;
	}

}

@media screen and (max-width: 580px) {
	.rss-logo {
		width: 80%;
	}

	.github-logo {
		width: 40px;
	}

	.header h1 {
		font-size: 2.5em;
	}

	.header h2 {
		font-size: 1.875em;
	}

	.contacts li {
		font-size: 1em;
	}

	.footer {
		height: 70px;
	}
}

@media screen and (max-width: 472px) {
	.header h1 {
		font-size: 2.25em;
	}

	.header h2 {
		font-size: 1.5em;
	}
	.contacts ul {
		width: 70%;
	}
}